.about{
    width: 100%;
    height: 484px;
    display: flex;
    justify-content: 
    space-around;
}
.aboutPhoto{
    width: 50%;
    height: inherit;

}
.aboutContent{
    width: 45%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}
.aboutContent div{
    width: 100%;
    height: auto;

}
.aboutContent div section{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.aboutIcon{
    height: 33px !important;
    width: inherit;
    display: flex;
    align-items: center;
}
.aboutIcon h2{
    margin: 0;
    color: rgba(191, 91, 18, 1);
    font-size: 24px;
    line-height: 33px;
}
.aboutContentDetails{
    width: auto;
    height: auto;
    font-size: 20px;
    margin: 0px;
    line-height: 27px;
    margin-bottom: 30px;

}
.aboutBtn{
    width: 189px;
    color: rgba(245, 245, 245, 1);
    height: 49px;
    border-radius: 8px;
    border: none;
    background-color: rgba(88, 16, 191, 1);
}