.herro_container {
  width: inherit;
  height: 724px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.herro_photo_container {
  width: 815px;
  height: 724px;
  border: 1px solid black;
  background-color: rgba(130, 130, 130, 1);
}
.herro_text_container {
  width: 525px;
  height: 331px;
  border: 1px solid black;
}

